---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=BOGUS_TESTING_API_KEY&zip=46201
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-86.1093,"lat":39.775},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":296.8,"feels_like":297.36,"temp_min":295.45,"temp_max":298.45,"pressure":1015,"humidity":82},"visibility":10000,"wind":{"speed":1.34,"deg":161,"gust":4.02},"clouds":{"all":75},"dt":1634227938,"sys":{"type":2,"id":2038073,"country":"US","sunrise":1634212423,"sunset":1634252800},"timezone":-14400,"id":0,"name":"Indianapolis","cod":200}'
  recorded_at: Thu, 14 Oct 2021 16:12:18 GMT
recorded_with: VCR 6.0.0
